/*
#3519F7 - blue
#C5C5BE - grey
*/

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    overflow-x: hidden;
}

header {
    text-align: center;
}

.bot-header {
    display: inline;
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: 200;
    font-size: 140px;
}

.robot {
    height: 30px;
    width: 30px;
}

.header-link {
    text-decoration: none;
    color: black;
}

.header-box {
    height: 40px;
    width: 100vw;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: 100;
    font-size: 2.2rem;
    letter-spacing: 10px;
    margin-top: -20px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .detail-header-box {
    height: 40px;
    width: 100vw;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
} */

.detail-header-box {
    display: flex;
    height: 60px;
    width: 100vw;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    align-items: center;
    position: relative;
    margin-top: -20px;
}

.mobile-header-box {
    display: none;
}

#detail-sitename {
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: 200;
    font-size: 3rem;
    margin: 0 auto;
}

#detail-search-form {
    position: absolute;
    right: 8vw;
}

#detail-search-form input[type=text] {
    height: 22px;
    border: none;
    font-size: 1.6rem;
}

#detail-nav {
    display: flex;
    padding-left: 5vw;
    position: absolute;
    top: 4px;
    font-family: 'Love Ya Like A Sister', cursive;
    
}

.animated-link {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-right: 2rem;
}


.animated-link::after {
    content: '';
    display: block;
    width: 0;
    height: .8px;
    background: #333;
    transition: width .4s;
}

.animated-link-blue::after {
    background: #3519F7;
}

.animated-link:hover::after,
.animated-link-blue:hover::after {
    width: 100%;
}


#detail-nav li {
    list-style-type: none;
}

.detail-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 8rem;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 3rem;
    margin-bottom: 5rem;
    font-family: 'Open Sans', sans-serif;
}

.detail-content h1 {
    font-size: 2.75rem;
    margin-bottom: 5px;    
}

.detail-content h4 a,
.detail-content h4 a:active,
.detail-content h4 a:visited {
    color: #3519F7;
}

.detail-sidebar {
    /* margin-top: 11rem; */
}

.container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 8rem;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 8rem;
    font-family: 'Open Sans', sans-serif;
}

.content {
    margin-bottom: 3rem;
}

.post-title {
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 0;
    margin-bottom: .5rem;
}

.post-title a {
    text-decoration: none;
    color: black;
}

.published {
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.4rem;
}

.published a {
    text-decoration: none;
}

.categories {
    font-weight: 300;
    font-style: italic;
    margin-top: 0;
    font-size: 1.4rem;
}

.categories a {
    text-decoration: none;
    color: #3519F7;
}

.categories a:hover,
.categories a:active {
    border-bottom: solid 1px #3519F7;
}

.read-more:link,
.read-more:visited {
    color: #3519F7;
    text-decoration: none;
}
.read-more:hover,
.read-more:active {
    border-bottom: solid 1px #3519F7;
}

.detail-prev-next {
    margin-top: 3rem;
    text-align: center;
}

.detail-prev-next-link {
    color: #3519F7;
    text-decoration: none;
}

.detail-prev-next-span {
    padding: 0 1rem;
}


/*********/
/*Sidebar*/
/*********/
.desktop-sidebar {
    text-align: center;
    margin-top: 11rem;
}

.desktop-home-sidebar {
    text-align: center;
}

#search-form input[type=text] {
    padding: 6px;
    font-size: 1.6rem;
    border: none;
    width: 10rem;
    display: inline-block;
}
  
#search-btn {
    display: inline-block;
    color: #3519F7;
    cursor: pointer;
    font-size: 1rem;
    transform: translateY(15%);
}

#submit-button {
    background: none;
    padding: 0px;
    border: none;
}

#search-header {
    margin-bottom: 5rem;
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: 200;
    font-size: 2.75rem;
}

#search-query {
    font-style: italic;
}

#search-no-results {
    font-family: 'Open Sans', sans-serif;
}


#profile-pic {
    margin-top: 6rem;
    height: 115px;
    border-radius: 50%;
}

#author {
    margin-top: .5rem;
    margin-bottom: 0;
}

.author-info {
    font-weight: 400;
    margin: 0;
    margin-top: 0.5rem;
}

.about-me a {
    color: #3519F7;
}

.related-posts {
    margin-bottom: 8rem;
}

.popular-posts {
    margin-bottom: 8rem;
}

#desktop-home-popular {
    margin-top: 8rem;
}

.sidebar-header {
    margin-bottom: 1rem;
}

.sidebar-header a {
    text-decoration: none;
    color: black;
}

.sidebar-header:after {
    content: ""; /* necessary  */ 
    display: block; /* puts the pseudo element on its own line. */
    margin: 0 auto; /* centers the border */
    width: 70%; 
    border-bottom: 1px solid #333;
}

.sidebar-link {
    display: block;
    text-decoration: none;
    color: #3519F7;
    transition: all .2s;
    margin-bottom: 0.7rem;
}

.sidebar-link:hover {
    color: black;
}

.sidebar-link:active {
    transform: translateY(1px);
}

/****************/
/* Pagination   */
/***************/

.pagination {
    margin-bottom: 6rem;
    margin-top: 3rem;
    margin-left: 5vw;
    /* text-align: center; */
}

.step-links {
    font-size: 2rem;
}

.step-links a:active,
.step-links a:visited {
    color: #3519F7;
}

.pagination-icon {
    position: relative;
    top: 3px;
}

/****************/
/* Archive Page */
/***************/
.archive-content {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    height: 100%;
    margin: 60px auto;
}

.archive-card-wrapper {
    width: 300px;
    height: 420px;
    background-color: rgba(161, 161, 161, 0.158);
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
}

.archive-card-wrapper:hover {
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
 
.archive-card-container {
    width: 100%;
    height: 100%;
}

.archive-card-top {
    height: 80%;
    width: 100%;
    background-size: 185px;
}

.archive-card-bottom {
    width: 200%;
    height: 20%;
}

.archive-card-left {
    height: 100%;
    width: 50%;
    background: #f4f4f4;
    position: relative;
    float: left;
}

.archive-card-details {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#card-title {
    color: #3519F7;
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: 200;
    font-size: 2.4rem;
    margin: 0;
}

#archive-series-title,
#archive-series-title:active,
#archive-series-title:visited {
    text-decoration: none;
    color: #3519F7;
}

.archive-card-inside {
    z-index: 9;
    /* background: #92879B; */
    background: #f4f4f4;
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
}

.archive-card-info-icon {
    position: absolute;
    right: 85px;
    top: 85px;
    color: #3519F7;
    font-size: 2.5rem;
}

.archive-card-inside:hover {
    width: 100%;
    right: 0;
    top: 0;
    border-radius: 0;
    height: 80%;
}

/*makes icon disappear on hover*/
.archive-card-inside:hover .archive-card-info-icon {
    opacity: 0;
    right: 15px;
    top: 15px;
}

.archive-card-inside:hover .archive-card-info-contents {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
}


.archive-card-info-contents {
    height: 90%;
    display: flex;
    align-items: center;
    padding: 10%;
    transform: scale(0.5);
    transform: translateY(-100%);
    transition: opacity 0.01s, transform 1.1s;
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: 200;
}

.opacityNone {
    opacity: 0;
    /* transform: 0.01s; */
}

.archive-series-img {
    height: 300px;
    width: 300px;
}

.archive-all-posts {
    margin-top: 4rem;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 6rem;
    font-family: 'Open Sans', sans-serif;
}

.archive-all-posts p a {
    padding-left: 12rem;
    text-decoration: none;
}

.archive-posts-date {
    position: absolute;
    right: 30vw;
}

#archive-all-header {
    margin-bottom: 4rem;
    border-bottom: solid 1px black;
    text-align: center;
    padding-bottom: 1rem;
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: 200;
}


/****************/
/* Series List  */
/***************/
.series-content {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 6rem;
    font-family: 'Open Sans', sans-serif;
}

#series-post {
    margin-bottom: 3rem;
}

.series-title {
    display: inline-block;
    /* margin-left: 5vw; */
    margin-top: 4.5rem;
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: 200;
    border-bottom: solid 1px black;
}

#series-ul {
    padding-left: 0;

}

.series-post-list {
    list-style-type: none;
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: 200;
}

.series-post-list a {
    font-size: 2rem;
    text-decoration: none;
}

#series-read-more {
    font-size: 1.4rem;
}

/****************/
/* About Page   */
/***************/
.about-container {
    margin: 8rem 15vw;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#about-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.about-container p {
    text-align: initial;
    font-family: 'Open Sans';
    font-size: 1.6rem;
}

#about-resume-link,
#about-resume-link:active,
#about-resume-link:visited {
    color: #3519F7;
}

#about-social {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    position: relative;
    right: 1rem;
}

#about-social li {
    list-style-type: none;
    padding-right: 1rem;
}

#about-social li a {
    color: black;
}

#about-social li a:hover {
    color: #3519F7;
}

/****************/
/*  Resources   */
/***************/
#resources-container {
    font-family: 'Open Sans', sans-serif;
}

.resources-section {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#resources-code-snippets {
    padding-top: 6rem;
}

#resources-mobile-code-snippets {
    display: none;
}

.resources-section-header {
    display: flex;
    justify-content: center;
    padding-left: 3rem;
}

.resources-section h2 {
    display: inline;
    margin: 0;
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: 200;
    font-size: 2.75rem;
    text-align: center;
    padding: 0 5px;
}

.resources-section ion-icon {
    position: relative;
    top: 4px;
    font-size: 2.5rem;
}

.resources-gray {
    background-color:#f9fafa;
}

#resources-code-snip-p {
    padding: 0px 10vw;
    margin: 3rem 0;
}

#code-snip-list {
    list-style-type: none;
    text-align: center;
}

#code-snip-list li {
    padding-bottom: 7px;
}

#code-snip-list li:last-child {
    padding-bottom: 0px;
}

#code-snip-list li a {
    text-decoration: none;
    color: #3519F7;
}

.snippet-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.snippet-embed {
    padding-left: 10vw;
    padding-right: 10vw;
    width: 100%;
    height: 400px;
}

.snippet-embed h3 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 1em;
    text-align: center;
}

#snippet-footer {
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

#snippet-footer a,
#snippet-footer a:active,
#snippet-footer a:visited {
    color: #3519F7;
}

.explained-all-posts p {
    padding-left: 10vw;
}

#over-explained-p {
    padding-top: 1rem;
    margin-bottom: 3rem;
    margin-right: 10vw;
}

.explained-all-posts p a {
    text-decoration: none;
}

.explained-all-posts p a:active,
.explained-all-posts p a:visited {
    color: #3519F7;
}

.explained-post {
    text-align: center;
    transform: translateX(-5%);
}

.explained-posts-date {
    padding-left: 6rem;
}

#resources-coming-soon {
    text-align: center;
    padding: 0;
    font-weight: bold;
}

.resources-topic-header {
    display: flex;
    justify-content: center;
    color: #3519F7;
    margin-top: 2rem;
}

.resources-topic-header ion-icon {
    position: relative;
    top: 20px;
    left: 5px;
}

.resources-topic-content {
    margin-left: 10vw;
    margin-right: 10vw;
}

.resources-topic-content a,
.resources-topic-content a:active,
.resources-topic-content a:visited {
    color: #3519F7;
    text-decoration: none;
}

.resources-topic-content div {
    padding-bottom: 1rem;
}

/****************/
/* Progress Bar */
/***************/
#progress-container {
    width: 100%;
    height: 3px;
    /* background: #ccc; */
    z-index: 1;
    /* background-color: #f1f1f1; */
    background-color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.progress-bar {
    display: none;
    height: 3px;
    background: #3519F7;
    width: 0%;
}

/****************/
/*   Footer     */
/***************/
footer {
    /* background-color: rgba(161, 161, 161, 0.808); */
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-top: solid 1px black;
}


footer div ul li {
    list-style-type: none;
    padding-right: 14px;
}

footer div ul li a {
    text-decoration: none;
    border: 0;
    /* color: #888; */
    color: black;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

footer div ul li a:hover {
    /* color: #ddd; */
    color: #3519F7;
}

.footer-top {
    display: flex;
}

.footer-top div ul {
    display: flex;
}

.footer-links {
    position: absolute;
    left: 5vw;
}

.footer-links ul {
    padding-left: 0;
}

.footer-social {
    float: right;
    position: absolute;
    right: 5vw;
    /* color: #888; */
    color: black;
    font-size: 24px;
}

.footer-social ul li a ion-icon {
    position: relative;
    bottom: 16px;
}

.footer-copy {
    margin-top: 60px;
    text-align: center;
    /* color: #888; */
    color: black;
}


/****************/
/*404 & 500 Error*/
/***************/
.error-page {
    margin: 8rem 10vw;
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: 200;
}

#error-header {
    font-size: 4rem;
}

#robot-error-container {
    width: 15%;
    margin: 0 auto;
}

#error-moving-robot {
    position: relative;
    -webkit-animation: robot-move 4s infinite alternate;
    animation: robot-move 4s infinite alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes robot-move {
    0%    {left: -100px;}
    50%   {left: 100px;}
    100%  {left: -100px;}
}
  
/* Standard syntax */
@keyframes robot-move {
    0%    {left: -100px;}
    50%   {left: 100px;}
    100%  {left: -100px;}
}

/****************/
/*Mobile Overlay*/
/***************/
.mobile-robot {display: none;}
#mobile-robot-text { display: none;}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 5px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 60px;
}

#mobile-overlay-navigation {
    text-align: center;
    width: 100%;
    padding-left: 0px;
}

/*-------------*/
/*Media Queries*/
/*-------------*/
@media (max-width: 920px) {
    #detail-search-form input[type=text] {
        width: 10rem;
    }

    .container {
        margin-left: 4vw;
        margin-right: 4vw;
        grid-gap: 6rem;
    }
}

/* PHONES */
@media (max-width: 740px) {
    .desktop-sidebar {
        display: none;
    }

    .desktop-home-sidebar {
        display: none;
    }

    .detail-header-box {
        display: none;
    }

    .mobile-header-box {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        border-top: solid 1px black;
        border-bottom: solid 1px black;
        font-family: 'Open Sans', sans-serif; 
    }

    #detail-hamburger {
        font-size: 2.5rem;
        position: absolute;
        right: 7vw;
        cursor: pointer;
    }

    #detail-hamburger ion-icon {
        position: relative;
        top: 5px;
    }

    .container {
        grid-template-columns: 1fr 6rem;
        grid-gap: 0;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 4rem;
    }

    .detail-sidebar {
        display: none;
    }

    .detail-container {
        display: flex;
        grid-template-columns: initial;
        grid-gap: initial;
    }

    .detail-prev-next-span {
        display: block;
        padding: 1rem 0;
    }

    #mobile-robot-container {
        /* position: relative; */
        top: 50%;
        transform: perspective(1px) translateY(-50%);
        position: sticky;
        position: -webkit-sticky;
        margin-left: 2rem;
    }

    .mobile-robot {
        display: block;
        height: 4rem;
        width: 4rem;
    }

    #mobile-robot-text {
        display: block;
        font-size: 1rem;
    }

    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        left: 35px;
    }

    #search-form {
        margin-top: 2.5rem;
        margin-bottom: 3rem;
        transform: translateX(3%);
    }

    #search-form input[type=text] {
        width: 50%;
    }

    #search-btn {
        display: inline-block;
        color: #fff;
        cursor: pointer;
        font-size: 1.6rem;
        transform: translateY(15%);
      }

    #author {
        color: #fff;
    }

    .sidebar-header {
        color: #fff;
    }

    .sidebar-link {
        margin-bottom: 0.2rem;
    }

    .popular-posts {
        margin-top: 4rem;
        margin-bottom: 6rem;
    }

    /*ARCHIVE*/
    .archive-content {
        max-width: 90vw;
    }
    #archive-all-header {
        margin-bottom: 2rem;
    }

    .archive-all-posts p a {
        padding-left: 0;
    }

    .archive-all-posts p {
        text-align: center;
    }

    .archive-posts-date {
        display: none;
    }

    .archive-card-top {
        background-size: 140px;
    }

    #card-title {
        font-size: 2.1rem;
    }

    /*RESOURCES*/
    .codepen {
        display: none;
    }

    #resources-code-snip-p {
        text-align: center;
        margin: 3rem 0;
    }

    #code-snip-list li a {
        padding-right: 2rem;
    }

    #snippet-footer {
        margin-top: 3rem;
    }

    .explained-posts-date {
        display: none;
    }

    #over-explained-p {
        text-align: center;
    }

    /*FOOTER*/

    .footer-top {
        display: block;
    }

    .footer-links {
        position: initial;
        left: initial;
    }

    .footer-links ul {
        justify-content: center;
    }

    .footer-social {
        float: initial;
        position: initial;
        right: initial;
    }

    .footer-social ul {
        padding-left: 0;
        justify-content: center;
    }

    .footer-social ul li a ion-icon {
        position: relative;
        top: 4px;
    }

    .footer-copy {
        margin-top: 0;
    }
}